<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap -->
    <title><%= title %></title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="js/libs/jquery/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/libs/bootstrap/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
<%- include('nav') -%>
<!--********************************-->
<div class="container-fluid">
    <div class="row col-md-10 col-md-offset-1 _wrap">

        <% for(x in items){ %>
        <div class="col-sm-4 col-md-4 ">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3><%=items[x].title %></h3>
                    <p><%=items[x].description %>...</p>
                    <a href="?id=<%=items[x]._id %>" class="btn btn-primary" role="button">进入</a>
                </div>
            </div>
        </div>
        <% } %>

        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>创建接口组</h3>
                    <p>...</p>
                    <a href="#" class="btn btn-primary" role="button">创建</a>
                    <a href="#" class="btn btn-info" role="button">调试</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    var metro_color = [
        '#E51400', //红色
        '#339933', //绿色
        '#1BA1E2', //蓝色
        '#F09609', //橙色
        '#8CBF26', //橙色
        '#00ABA9', //湖蓝
        '#FF0097', //洋红
        '#E671B8', //粉色
        '#996600', //棕色
        '#A200FF', //紫色
    ];
    $('._wrap').children().find('.thumbnail').each(function(){$(this).css({'background-color':metro_color[Math.floor(Math.random()*10)]});});
</script>
<!--================================================== -->
<%- include('footer') -%>
</body>
</html>
